################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HH Algorithm/.vs/HH Algorithm/v15
